@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ac0000e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}


.match-container {
    margin: 20px 0;
}

.match-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seat {
    background-color: #7b7a85;
    height: 12px;
    width: 20px;
    margin: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: #008bfc;
}

.seat.occupied {
    background-color: #fff;
}

.seat:nth-of-type(2) {
    margin-right: 14px;
}

.seat:nth-last-of-type(2){
    margin-left: 14px;
}

.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.3);
}

.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}

.pitchview {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pitchside.jpg);
    display: absolute;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 280px;
    border-radius: 10px;
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    padding-right: 15px;
}

.showcase li small {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #6feaf6
}
